{% extends "layout.html" %}

{% block content %}

{% if not user %}
<div class="section">
    <div class="container">
        <div class="mt-1">
            <h1>Select a playlist</h1>
        </div>
        <p class="lead">Please log in to Spotify to select a playlist.</p>

        <a type="button" class="btn btn-primary" href="/auth">Login</a>
    </div>
</div>
{% else %}
<div class="section">
    <div class="container">
        <h1 class="title">Hi {{ user.id }}</h1>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                {% if user.images %}
                    <img src="{{user.images[0].url}}" class="img-square">
                {% else %}
                    <img src="http://bit.ly/2nXRRfX" class="img-square">
                {% endif %}
            </div>

            <div class="col-md-6">
                <h2 class="title">Select One of Your Playlists:</h2>
                {% for play in playlists %}
                <div class='col-md-12'>
                    <div class='row'>
                        <p><a href="/score?playlist={{ play.id }}">{{ play.name }}</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="section" ng-app="search" ng-controller="searchCtrl">
<form id="new-playlist" method="POST">

    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Or Enter Someone Elses.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <div class="form-group">
                    <label style="float:left;">Playlist ID:</label>
                    <input type="text" ng-model="playlist" placeholder="e.g" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <button class="btn btn-primary" style="float:right;" type="submit">Submit</button>
            </div>
        </div>
    </div>

</form>
</div>
{% endif %}

{% endblock %}

{% block feet %}
<script src="{{ url_for('static', filename='js/angular/search.js') }}" type="text/javascript"></script>
{% endblock %}
